:root{
    --input-text-bg: #F4F4F5;
    --btn-next: #548AC6;
    --soft-black: #27272A;
    --gray-text: #C8C8D0;
    --bright-blue: #CED0F9;
    --blue: #3C79BE;
    --weak-blue: #8FAAE0;
    --gray: #B2AFB6; 
    --blue-gray: #A0AEC0;
    --dark-blue: #100928;
    --dark-gray: #3E3C41;
}